/* styling added to elements that will be added dynamically by JavaScript */
body {
    padding: 30px;
    margin-bottom: 20px;
    width: 90%;
    text-align: center;
    background-color: rgba(135, 200, 219, 0.342);
    color: black;
    font-family: monospace;
    align-items: center;
    
}

h3 {
    font-style: oblique;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#high-scores {
    font-size: 20px;
    background-color: rgba(135, 200, 219, 0.342);
    color: rgb(15, 15, 15);
    border: none;
}
/* styling added for the quiz buttons */
.start-quiz, .c-choice, .answer-choice, .submit-initials {
    -moz-box-shadow: inset 0 0 10px #777777;
    -webkit-box-shadow: inset 0 0 10px #777777;
    box-shadow: 0 0 10px #777777;   
    background-color: rgba(12, 12, 12, 0.877);
    border: 3px solid rgba(0, 255, 255, 0.24);
    border-radius: 8px;
    padding: 8px;
    margin-top: 20px;
    font-size: 20px;
    color: rgb(247, 245, 245);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

/* styling added for the quiz buttons */
.go-back, .clear-scores {
    -moz-box-shadow: inset 0 0 10px #777777;
    -webkit-box-shadow: inset 0 0 10px #777777;
    box-shadow: 0 0 10px #777777;   
    background-color: rgba(12, 12, 12, 0.877);
    border: 3px solid rgba(0, 255, 255, 0.24);
    border-radius: 8px;
    padding: 8px;
    margin-top: 20px;
    font-size: 20px;
    color: rgb(247, 245, 245);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;   
}

/* styling added for the quiz buttons */
.next-btn {
    -moz-box-shadow: inset 0 0 10px #777777;
    -webkit-box-shadow: inset 0 0 10px #777777;
    box-shadow: 0 0 10px #777777;   
    background-color: rgba(188, 243, 226, 0.877);
    border: 3px solid rgba(0, 255, 255, 0.24);
    border-radius: 8px;
    padding: 8px;
    margin-top: 20px;
    font-size: 20px;
    color: rgb(14, 13, 13);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

main {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 36px;

}

input {
    border-color: rgb(17, 17, 16);
    -moz-box-shadow: inset 0 0 10px #777777;
    padding: 10px;
}

p {
    font-size: 22px;
    width: fit-content;
}


ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
    margin-left: 4%;
    margin-right: 4%;
    font-size: 20px;
}

/* styling added for when the user hovers over the quiz buttons */
button:hover {
    cursor: pointer;
    transform: scale(1.02, 1.05);
}

/* used to control which buttons would be visible during the quiz */
.hde-btn {
    visibility: hidden;
}
